@import "../../style.scss";


.rightBar {
    @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 70px;
    left: 0;
    height: calc(100vh - 70px);
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    background-color: themed("bgSoft");
    .container {
        padding: 20px;
        .item {
            -webkit-box-shadow: -7px 7px 23px -12px rgba(0,0,0,0.41);
            -moz-box-shadow: -7px 7px 23px -12px rgba(0,0,0,0.41);
            box-shadow: -7px 7px 23px -12px rgba(0,0,0,0.41);
            border-radius: 10px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            background-color: themed("bg");
            span {
                color: themed("textColorsoft");
            }
            .user {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0px;
                .userInfo {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    position: relative;
                    img {
                        height: 40px;
                        width: 40px;
                        object-fit: cover;
                        border-radius: 50%;

                    }
                    .online {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        position: absolute;
                        background-color: limegreen;
                        top: 0px;
                        left: 30px;
                    }
                    p {
                        color: themed("textColorsoft");
                    }
                    span {
                        color: themed("textColor");
                        font-weight: 500;
                    }
                }
                .buttons {
                    display: flex;
                    gap: 10px;
                    button {
                        padding: 6px 10px;
                        text-align: center;
                        color: #fff;
                        font-weight: 600;
                        &:first-child{
                            background-color: #007bff;
                        }
                        &:last-child{
                            background-color: #EB455F;
                        }
                        border: none;
                        border-radius: 2px;
                        cursor: pointer;
                        transition: all 0.3s ease;
                    }
                }
            }

        }
    }
}
}